lit-header {
    padding: 1.25rem 1.25rem 1.25rem calc((100vw - 40em) / 2);
    margin-bottom: 0;
}

lit-header lit-title {
    margin-left: 0;
}

main {
    max-width: 40em;
    margin-left: calc((100vw - 40em) / 2);
}

.card .article-title {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.article-title a {
    color: #333;
}

.card .article-description {
    margin-top: .5rem;
}

.card .read-btn:hover {
    text-decoration: none;
}