lit-header {
    padding: 1.25rem 1.25rem 1.25rem calc((100vw - 40em) / 2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    margin-bottom: 4rem
}

lit-header lit-title {
    margin-left: 0;
}

main {
    max-width: 40em;
    margin-left: calc((100vw - 40em) / 2);
}

.-lit-serif {
    font-family: "Noto Serif SC", Georgia, serif;
}