/*
 * @Author: Sincerajn
 * @Date: 2020-02-20 13:40:11
 * @LastEditors: Sincerajn
 * @LastEditTime: 2020-02-22 17:05:44
 */
/*
 * @Author: Sincerajn
 * @Date: 2020-02-20 13:49:07
 * @LastEditors: Sincerajn
 * @LastEditTime: 2020-02-21 22:38:34
 */
lit-header.-sticky {
  position: sticky;
  top: 0;
}

.-opacity-3 {
  opacity: .3;
}

.-lit-serif {
  font-family: "Noto Serif SC", Georgia, serif;
}

.-lit-sans {
  font-family: Roboto, "Noto Sans SC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.-lit-monospace {
  font-family: Consolas, monospace;
}

.-lit-transition-average {
  transition: .5s;
}

body.-lit {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-family: Roboto, "Noto Sans SC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
}

lit-title,
.-lit-title {
  font-size: 1rem;
  font-weight: bold;
}

lit-level,
.-lit-level,
lit-header,
.-lit-header,
header.-lit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

lit-level .-lit-left,
lit-level .-lit-right,
.-lit-level .-lit-left, lit-header .-lit-left,
.-lit-header .-lit-left,
header.-lit .-lit-left,
.-lit-level .-lit-right, lit-header .-lit-right,
.-lit-header .-lit-right,
header.-lit .-lit-right {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

lit-row,
.-lit-row {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

lit-row.-lit-x-left,
.-lit-row.-lit-x-left {
  justify-content: flex-start;
}

lit-row.-lit-x-center,
.-lit-row.-lit-x-center {
  justify-content: center;
}

lit-row.-lit-x-right,
.-lit-row.-lit-x-right {
  justify-content: flex-end;
}

lit-row.-lit-y-top,
.-lit-row.-lit-y-top {
  align-items: flex-start;
}

lit-row.-lit-y-center,
.-lit-row.-lit-y-center {
  align-items: center;
}

lit-row.-lit-y-bottom,
.-lit-row.-lit-y-bottom {
  align-items: flex-end;
}

lit-row.-lit-y-baseline,
.-lit-row.-lit-y-baseline {
  align-items: baseline;
}

lit-row .-offset-top, lit-row .-offset-center, lit-row
.-lit-row .-offset-center,
.-lit-row lit-row .-offset-center, lit-row .-offset-bottom, lit-row
.-lit-row .-offset-bottom,
.-lit-row lit-row .-offset-bottom, lit-row .-offset-baseline, lit-row
.-lit-row .-offset-baseline,
.-lit-row lit-row .-offset-baseline, lit-row .-offset-stretch, lit-row
.-lit-row .-offset-stretch,
.-lit-row lit-row .-offset-stretch, lit-row
.-lit-col .-offset-center,
.-lit-col lit-row .-offset-center, lit-row lit-col .-offset-right, lit-col lit-row .-offset-right, lit-row lit-example .-offset-right, lit-example lit-row .-offset-right, lit-row lit-col lit-example lit-example-btn, lit-col lit-example lit-row lit-example-btn, lit-row lit-example lit-col lit-example-btn, lit-example lit-col lit-row lit-example-btn, lit-row lit-example lit-example-btn, lit-example lit-row lit-example-btn, lit-row
.-lit-col .-offset-right,
.-lit-col lit-row .-offset-right, lit-row
.-lit-col lit-example lit-example-btn,
.-lit-col lit-example lit-row lit-example-btn, lit-row lit-example
.-lit-col lit-example-btn, lit-example
.-lit-col lit-row lit-example-btn, lit-row
.-lit-col .-offset-stretch,
.-lit-col lit-row .-offset-stretch,
.-lit-row .-offset-top, .-lit-row .-offset-center, .-lit-row .-offset-bottom, .-lit-row .-offset-baseline, .-lit-row .-offset-stretch,
.-lit-row lit-col .-offset-right, lit-col
.-lit-row .-offset-right,
.-lit-row lit-example .-offset-right, lit-example
.-lit-row .-offset-right,
.-lit-row lit-col lit-example lit-example-btn, lit-col lit-example
.-lit-row lit-example-btn,
.-lit-row lit-example lit-col lit-example-btn, lit-example lit-col
.-lit-row lit-example-btn,
.-lit-row lit-example lit-example-btn, lit-example
.-lit-row lit-example-btn,
.-lit-row
.-lit-col .-offset-right,
.-lit-col
.-lit-row .-offset-right,
.-lit-row
.-lit-col lit-example lit-example-btn,
.-lit-col lit-example
.-lit-row lit-example-btn,
.-lit-row lit-example
.-lit-col lit-example-btn, lit-example
.-lit-col
.-lit-row lit-example-btn {
  align-self: flex-start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

lit-row .-offset-center,
.-lit-row .-offset-center {
  align-self: center;
}

lit-row .-offset-bottom,
.-lit-row .-offset-bottom {
  align-self: flex-end;
}

lit-row .-offset-baseline,
.-lit-row .-offset-baseline {
  align-self: baseline;
}

lit-row .-offset-stretch,
.-lit-row .-offset-stretch {
  height: auto !important;
  align-self: stretch;
}

lit-col, lit-example,
.-lit-col {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  max-width: 100%;
  padding-left: .5rem;
  padding-right: .5em;
}

lit-col:first-child, lit-example:first-child,
.-lit-col:first-child {
  padding-left: 0;
}

lit-col:last-child, lit-example:last-child,
.-lit-col:last-child {
  padding-right: 0;
}

lit-col.-span-1, lit-example.-span-1,
.-lit-col.-span-1 {
  width: calc(100% / 12 - 1rem);
}

lit-col.-span-2, lit-example.-span-2,
.-lit-col.-span-2 {
  width: calc(100% / 12 * 2);
}

lit-col.-span-3, lit-example.-span-3,
.-lit-col.-span-3 {
  width: calc(100% / 12 * 3);
}

lit-col.-span-4, lit-example.-span-4,
.-lit-col.-span-4 {
  width: calc(100% / 12 * 4);
}

lit-col.-span-5, lit-example.-span-5,
.-lit-col.-span-5 {
  width: calc(100% / 12 * 5);
}

lit-col.-span-6, lit-example.-span-6,
.-lit-col.-span-6 {
  width: calc(100% / 12 * 6);
}

lit-col.-span-7, lit-example.-span-7,
.-lit-col.-span-7 {
  width: calc(100% / 12 * 7);
}

lit-col.-span-8, lit-example.-span-8,
.-lit-col.-span-8 {
  width: calc(100% / 12 * 8);
}

lit-col.-span-9, lit-example.-span-9,
.-lit-col.-span-9 {
  width: calc(100% / 12 * 9);
}

lit-col.-span-10, lit-example.-span-10,
.-lit-col.-span-10 {
  width: calc(100% / 12 * 10);
}

lit-col.-span-11, lit-example.-span-11,
.-lit-col.-span-11 {
  width: calc(100% / 12 * 11);
}

lit-col.-span-12, lit-example.-span-12,
.-lit-col.-span-12 {
  width: 100%;
}

lit-col.-lit-x-left, lit-example.-lit-x-left,
.-lit-col.-lit-x-left {
  align-items: flex-start;
}

lit-col.-lit-x-center, lit-example.-lit-x-center,
.-lit-col.-lit-x-center {
  align-items: center;
}

lit-col.-lit-x-right, lit-example.-lit-x-right,
.-lit-col.-lit-x-right {
  align-items: flex-end;
}

lit-col.-lit-y-top, lit-example.-lit-y-top,
.-lit-col.-lit-y-top {
  justify-content: flex-start;
}

lit-col.-lit-y-center, lit-example.-lit-y-center,
.-lit-col.-lit-y-center {
  justify-content: center;
}

lit-col.-lit-y-bottom, lit-example.-lit-y-bottom,
.-lit-col.-lit-y-bottom {
  justify-content: flex-end;
}

lit-col .-offset-left, lit-example .-offset-left,
.-lit-col .-offset-left {
  align-self: flex-start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

lit-col .-offset-center, lit-example .-offset-center,
.-lit-col .-offset-center {
  align-self: center;
}

lit-col .-offset-right, lit-example .-offset-right, lit-col lit-example lit-example-btn, lit-example lit-col lit-example-btn, lit-example lit-example-btn,
.-lit-col .-offset-right,
.-lit-col lit-example lit-example-btn, lit-example
.-lit-col lit-example-btn {
  align-self: flex-end !important;
}

lit-col .-offset-stretch, lit-example .-offset-stretch,
.-lit-col .-offset-stretch {
  height: auto !important;
  align-self: stretch;
}

lit-header,
.-lit-header,
header.-lit {
  align-items: baseline;
  background: #ffffff;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  z-index: 10;
}

lit-header.-shadow,
.-lit-header.-shadow,
header.-lit.-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

lit-header lit-title,
lit-header .-lit-title,
.-lit-header lit-title,
.-lit-header .-lit-title,
header.-lit lit-title,
header.-lit .-lit-title {
  font-size: 1.5em;
  font-family: "Noto Serif SC", Georgia, serif;
  margin: 0 1rem;
}

lit-header lit-menu-btn,
.-lit-header lit-menu-btn,
header.-lit lit-menu-btn {
  height: 24px;
  width: 24px;
  margin-left: -8px;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

lit-header lit-menu-btn:hover,
.-lit-header lit-menu-btn:hover,
header.-lit lit-menu-btn:hover {
  background: #efefef;
}

@media screen and (min-width: 425px) {
  lit-header lit-menu-btn,
  .-lit-header lit-menu-btn,
  header.-lit lit-menu-btn {
    margin-left: 0;
  }
}

lit-header lit-menu-btn svg,
.-lit-header lit-menu-btn svg,
header.-lit lit-menu-btn svg {
  width: 100%;
  height: 100%;
}

lit-drawer {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  background: #ffffff;
  height: 100vh;
  width: 80vw;
  transition: transform 0.5s;
  overflow-y: auto;
  z-index: 12;
}

lit-drawer.-show {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.24);
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: 425px) {
  lit-drawer {
    width: 32vw;
    z-index: 8;
  }
}

@media screen and (min-width: 1024px) {
  lit-drawer {
    width: 16vw;
    box-shadow: none !important;
    overflow-y: scroll;
    z-index: 8;
  }
}

lit-drawer.-shadow {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.24) !important;
}

lit-drawer.-scrollAuto {
  overflow-y: auto;
}

main {
  transition: margin-left .5s;
}

main.-drawerShow {
  margin-left: 16vw;
}

lit-a, lit-example lit-example-btn, lit-collapse lit-collapse-item > a,
.-lit-collapse lit-collapse-item > a,
.-lit-a,
lit-ul li.-lit a,
.-lit-ul li.-lit a,
ul.-lit li.-lit a,
lit-typo a,
.-lit-typo a,
lit-doc a,
.-lit-doc a,
a.-lit {
  color: #795548;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

lit-a:hover, lit-example lit-example-btn:hover, lit-collapse lit-collapse-item > a:hover,
.-lit-collapse lit-collapse-item > a:hover,
.-lit-a:hover,
lit-ul li.-lit a:hover,
.-lit-ul li.-lit a:hover,
ul.-lit li.-lit a:hover,
lit-typo a:hover,
.-lit-typo a:hover,
lit-doc a:hover,
.-lit-doc a:hover,
a.-lit:hover {
  text-decoration: underline;
}

lit-btn,
a.-lit-btn,
input[type=button].-lit-btn,
button.-lit-btn,
input[type=button].-lit,
button.-lit {
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  background: #efefef;
  padding: .5em 1em;
  border: none;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: .2s;
}

lit-btn:hover,
a.-lit-btn:hover,
input[type=button].-lit-btn:hover,
button.-lit-btn:hover,
input[type=button].-lit:hover,
button.-lit:hover {
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

lit-btn:active,
a.-lit-btn:active,
input[type=button].-lit-btn:active,
button.-lit-btn:active,
input[type=button].-lit:active,
button.-lit:active {
  box-shadow: none;
}

lit-btn.-lit-icon,
a.-lit-btn.-lit-icon,
input[type=button].-lit-btn.-lit-icon,
button.-lit-btn.-lit-icon,
input[type=button].-lit.-lit-icon,
button.-lit.-lit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: transparent;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
}

lit-btn.-lit-icon:hover,
a.-lit-btn.-lit-icon:hover,
input[type=button].-lit-btn.-lit-icon:hover,
button.-lit-btn.-lit-icon:hover,
input[type=button].-lit.-lit-icon:hover,
button.-lit.-lit-icon:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

lit-btn.-lit-icon:active,
a.-lit-btn.-lit-icon:active,
input[type=button].-lit-btn.-lit-icon:active,
button.-lit-btn.-lit-icon:active,
input[type=button].-lit.-lit-icon:active,
button.-lit.-lit-icon:active {
  box-shadow: none;
}

lit-btn:disabled,
a.-lit-btn:disabled,
input[type=button].-lit-btn:disabled,
button.-lit-btn:disabled,
input[type=button].-lit:disabled,
button.-lit:disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: .5;
}

lit-btn:disabled:hover,
a.-lit-btn:disabled:hover,
input[type=button].-lit-btn:disabled:hover,
button.-lit-btn:disabled:hover,
input[type=button].-lit:disabled:hover,
button.-lit:disabled:hover {
  box-shadow: none;
}

lit-input, textarea.-lit-textarea,
textarea.-lit, lit-textarea,
input[type=text].-lit-input,
input[type=text].-lit {
  font-size: inherit;
  font-family: "Noto Serif SC", Georgia, serif;
  padding: 0.5em 1em;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  outline: none;
  transition: 0.3s;
}

lit-input:hover, textarea.-lit-textarea:hover,
textarea.-lit:hover, lit-textarea:hover,
input[type=text].-lit-input:hover,
input[type=text].-lit:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

lit-input:focus, textarea.-lit-textarea:focus,
textarea.-lit:focus, lit-textarea:focus,
input[type=text].-lit-input:focus,
input[type=text].-lit:focus {
  outline: 2px solid #795548;
}

textarea.-lit-textarea,
textarea.-lit {
  width: calc(100% - 2rem);
  min-height: 3em;
  text-align: justify;
  padding: 1rem;
  overflow-y: hidden;
  resize: none;
}

lit-textarea {
  display: block;
  padding: 1rem;
  min-height: 3em;
  -webkit-user-modify: read-write-plaintext-only;
}

lit-ul,
.-lit-ul,
ul.-lit {
  display: flex;
  flex-direction: column;
  padding: 0;
}

lit-ul li.-lit,
.-lit-ul li.-lit,
ul.-lit li.-lit {
  list-style: none;
  padding: 0.5em 1em;
}

lit-ul li.-lit:hover,
.-lit-ul li.-lit:hover,
ul.-lit li.-lit:hover {
  background: rgba(0, 0, 0, 0.04);
}

lit-tab,
.-lit-tab {
  display: flex;
  display: flex;
}

lit-tab .-lit-label,
.-lit-tab .-lit-label {
  color: rgba(0, 0, 0, 0.64);
  flex-grow: 1;
  padding: 1em 2em;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 425px) {
  lit-tab .-lit-label,
  .-lit-tab .-lit-label {
    flex-grow: 0;
  }
}

lit-tab .-lit-label.-lit-active, lit-tab lit-nav a.-lit-label:hover, lit-nav lit-tab a.-lit-label:hover, lit-tab
.-lit-nav a.-lit-label:hover,
.-lit-nav lit-tab a.-lit-label:hover, lit-tab
nav.-lit a.-lit-label:hover,
nav.-lit lit-tab a.-lit-label:hover,
.-lit-tab .-lit-label.-lit-active,
.-lit-tab lit-nav a.-lit-label:hover, lit-nav
.-lit-tab a.-lit-label:hover,
.-lit-tab
.-lit-nav a.-lit-label:hover,
.-lit-nav
.-lit-tab a.-lit-label:hover,
.-lit-tab
nav.-lit a.-lit-label:hover,
nav.-lit
.-lit-tab a.-lit-label:hover {
  color: #ffffff;
}

lit-nav,
.-lit-nav,
nav.-lit {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin: 0 1rem;
}

lit-nav a,
.-lit-nav a,
nav.-lit a {
  color: inherit;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.3s;
}

lit-nav a.-lit-active, lit-nav a:hover, lit-nav
.-lit-nav a:hover,
.-lit-nav lit-nav a:hover, lit-nav
nav.-lit a:hover,
nav.-lit lit-nav a:hover,
.-lit-nav a.-lit-active, .-lit-nav a:hover,
.-lit-nav
nav.-lit a:hover,
nav.-lit
.-lit-nav a:hover,
nav.-lit a.-lit-active, nav.-lit a:hover {
  color: #795548;
}

lit-divider, lit-typo hr,
.-lit-typo hr, lit-doc hr,
.-lit-doc hr,
.-lit-divider {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
  margin: 1em 0.5em;
}

lit-typo,
.-lit-typo,
lit-doc,
.-lit-doc {
  display: block;
}

lit-typo h1, lit-typo h2, lit-typo
.-lit-typo h2,
.-lit-typo lit-typo h2, lit-typo lit-doc h2, lit-doc lit-typo h2, lit-typo
.-lit-doc h2,
.-lit-doc lit-typo h2, lit-typo h3, lit-typo
.-lit-typo h3,
.-lit-typo lit-typo h3, lit-typo lit-doc h3, lit-doc lit-typo h3, lit-typo
.-lit-doc h3,
.-lit-doc lit-typo h3, lit-typo h4, lit-typo
.-lit-typo h4,
.-lit-typo lit-typo h4, lit-typo lit-doc h4, lit-doc lit-typo h4, lit-typo
.-lit-doc h4,
.-lit-doc lit-typo h4, lit-typo h5, lit-typo
.-lit-typo h5,
.-lit-typo lit-typo h5, lit-typo lit-doc h5, lit-doc lit-typo h5, lit-typo
.-lit-doc h5,
.-lit-doc lit-typo h5, lit-typo h6, lit-typo
.-lit-typo h6,
.-lit-typo lit-typo h6, lit-typo lit-doc h6, lit-doc lit-typo h6, lit-typo
.-lit-doc h6,
.-lit-doc lit-typo h6,
.-lit-typo h1, lit-doc h1,
.-lit-doc h1, .-lit-typo h2, lit-doc h2, .-lit-doc h2, .-lit-typo h3, lit-doc h3, .-lit-doc h3, .-lit-typo h4, lit-doc h4, .-lit-doc h4, .-lit-typo h5, lit-doc h5, .-lit-doc h5, .-lit-typo h6, lit-doc h6, .-lit-doc h6 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 0 1em;
}

lit-typo h2,
.-lit-typo h2, lit-doc h2,
.-lit-doc h2 {
  font-size: 1.4em;
}

lit-typo h3,
.-lit-typo h3, lit-doc h3,
.-lit-doc h3 {
  font-size: 1.3em;
}

lit-typo h4,
.-lit-typo h4, lit-doc h4,
.-lit-doc h4 {
  font-size: 1.2em;
}

lit-typo h5,
.-lit-typo h5, lit-doc h5,
.-lit-doc h5 {
  font-size: 1.1em;
}

lit-typo h6,
.-lit-typo h6, lit-doc h6,
.-lit-doc h6 {
  font-size: 1em;
}

lit-typo p,
.-lit-typo p, lit-doc p,
.-lit-doc p {
  line-height: 1.5em;
  text-align: justify;
  margin: 1em 0;
}

lit-typo p:first-child,
.-lit-typo p:first-child, lit-doc p:first-child,
.-lit-doc p:first-child {
  margin-top: 0;
}

lit-typo p:last-child,
.-lit-typo p:last-child, lit-doc p:last-child,
.-lit-doc p:last-child {
  margin-bottom: 0;
}

lit-typo b,
lit-typo strong,
.-lit-typo b, lit-doc b,
.-lit-doc b,
.-lit-typo strong, lit-doc strong,
.-lit-doc strong {
  font-weight: bold;
}

lit-typo kbd,
.-lit-typo kbd, lit-doc kbd,
.-lit-doc kbd {
  color: #ffffff;
  background: #1d1d1d;
  font-size: .8rem;
  padding: .125em .25em;
  border-radius: 2px;
}

lit-typo code, lit-typo pre code, lit-typo
.-lit-typo pre code,
.-lit-typo pre lit-typo code, lit-typo lit-doc pre code, lit-doc pre lit-typo code, lit-typo
.-lit-doc pre code,
.-lit-doc pre lit-typo code,
.-lit-typo code, lit-doc code,
.-lit-doc code, lit-typo pre lit-doc code, .-lit-typo pre code, lit-doc pre
.-lit-typo code, lit-doc pre code, lit-doc pre
.-lit-doc code, .-lit-doc pre code {
  color: #a31515;
  background: rgba(0, 0, 0, 0.04);
  font-family: Consolas, monospace;
  padding: 0 .4em;
  border-radius: 2px;
}

lit-typo pre,
.-lit-typo pre, lit-doc pre,
.-lit-doc pre {
  overflow-x: auto;
}

lit-typo pre code, lit-typo
.-lit-typo pre code,
.-lit-typo lit-typo pre code, lit-typo lit-doc pre code, lit-doc lit-typo pre code, lit-typo
.-lit-doc pre code,
.-lit-doc lit-typo pre code, lit-doc pre code, .-lit-typo pre code, lit-doc pre code, .-lit-doc pre code {
  color: #1d1d1d;
  font-weight: normal;
  background: none;
  padding: 0;
}

lit-typo hr,
.-lit-typo hr, lit-doc hr,
.-lit-doc hr {
  border: 0;
}

lit-typo blockquote,
.-lit-typo blockquote, lit-doc blockquote,
.-lit-doc blockquote {
  font-size: .9rem;
  font-family: "Noto Serif SC", Georgia, serif;
  margin: 1rem 0;
  padding-left: calc(2rem - 6px);
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 6px solid #cbcbcb;
  background: #f2f2f2;
}

lit-typo ul,
lit-typo ol,
.-lit-typo ul, lit-doc ul,
.-lit-doc ul,
.-lit-typo ol, lit-doc ol,
.-lit-doc ol {
  padding-left: 2em;
  margin: 1rem 0;
}

lit-typo img,
.-lit-typo img, lit-doc img,
.-lit-doc img {
  max-width: 100%;
  margin: 0 auto;
}

lit-doc,
.-lit-doc {
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1em;
  margin-bottom: 4rem;
  transition: 0.5s;
}

@media screen and (min-width: 425px) {
  lit-doc,
  .-lit-doc {
    max-width: 48em;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  lit-doc,
  .-lit-doc {
    max-width: 40em;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}

lit-example {
  margin: 0 0 2rem;
  padding: 0;
}

lit-example lit-example-label {
  display: inline-block;
  position: absolute;
  font-size: .8em;
  color: rgba(0, 0, 0, 0.48);
  font-weight: bold;
}

lit-example lit-example-btn {
  display: block;
  font-family: Consolas, monospace;
  margin-bottom: .5em;
  transition: 0.3s;
}

lit-example lit-example-btn:hover {
  text-decoration: none;
}

lit-example lit-demo {
  display: block;
  width: 100%;
  border: 1px solid #ffffff;
  transition: 0.5s;
}

lit-example lit-demo.-lit-showcode {
  width: calc(100% - 2em - 2px);
  padding: 1em;
  border: 1px solid #f2f2f2;
  border-bottom: 0;
}

lit-example pre {
  height: 0;
  width: calc(100% - 2em - 2px);
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: padding-top 0.5s, padding-bottom 0.5s;
}

lit-example pre.-lit-showcode {
  height: auto;
  padding: 1rem;
  border: 1px solid #f2f2f2;
  opacity: 1;
}

lit-example pre code, lit-example
.-lit-typo pre code,
.-lit-typo lit-example pre code, lit-example lit-doc pre code, lit-doc lit-example pre code, lit-example
.-lit-doc pre code,
.-lit-doc lit-example pre code {
  font-size: 14px;
}

lit-collapse,
.-lit-collapse {
  display: block;
}

lit-collapse lit-collapse-item-title,
.-lit-collapse lit-collapse-item-title {
  display: block;
  font-weight: bold;
  background: #f3f3f3;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

lit-collapse lit-collapse-item-title.-clicked,
.-lit-collapse lit-collapse-item-title.-clicked {
  background: #3f3f3f;
}

lit-collapse lit-collapse-item,
.-lit-collapse lit-collapse-item {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  opacity: 0;
  transition: height 0.5s, opacity 0.3s;
}

lit-collapse lit-collapse-item.-show,
.-lit-collapse lit-collapse-item.-show {
  visibility: visible;
  opacity: 1;
}

lit-collapse lit-collapse-item.-getHeight,
.-lit-collapse lit-collapse-item.-getHeight {
  position: absolute;
  height: auto;
}

lit-collapse lit-collapse-item div, lit-collapse lit-collapse-item p, lit-collapse lit-collapse-item > a,
.-lit-collapse lit-collapse-item div,
.-lit-collapse lit-collapse-item p,
.-lit-collapse lit-collapse-item > a {
  padding: 1rem;
  margin: 0;
  background: #ffffff;
  transition: 0.3s;
}

lit-collapse lit-collapse-item div:hover, lit-collapse lit-collapse-item p:hover, lit-collapse lit-collapse-item > a:hover,
.-lit-collapse lit-collapse-item div:hover,
.-lit-collapse lit-collapse-item p:hover,
.-lit-collapse lit-collapse-item > a:hover {
  background: #f9f9f9;
}

lit-collapse lit-collapse-item > a,
.-lit-collapse lit-collapse-item > a {
  color: inherit;
  font-weight: normal;
}

lit-collapse lit-collapse-item > a:hover,
.-lit-collapse lit-collapse-item > a:hover {
  text-decoration: none;
}
