/*
 * @Author: Sincerajn
 * @Date: 2020-02-20 13:40:11
 * @LastEditors: Sincerajn
 * @LastEditTime: 2020-02-22 17:05:44
 */
/*
 * @Author: Sincerajn
 * @Date: 2020-02-20 13:49:07
 * @LastEditors: Sincerajn
 * @LastEditTime: 2020-02-21 22:38:34
 */
/*
 * @Author: Sincerajn
 * @Date: 2020-02-20 13:49:07
 * @LastEditors: Sincerajn
 * @LastEditTime: 2020-02-21 22:38:34
 */
body.-lit {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-family: Roboto, "Noto Sans SC", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
}

lit-title,
.-lit-title {
  font-size: 1rem;
  font-weight: bold;
}

lit-level,
.-lit-level,
lit-header,
header.-lit-header,
header.-lit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

lit-level .-lit-left,
lit-level .-lit-right,
.-lit-level .-lit-left, lit-header .-lit-left,
header.-lit-header .-lit-left,
header.-lit .-lit-left,
.-lit-level .-lit-right, lit-header .-lit-right,
header.-lit-header .-lit-right,
header.-lit .-lit-right {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

lit-horizontal,
.-lit-horizontal {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: flex-start;
}

lit-horizontal.-lit-x-left,
.-lit-horizontal.-lit-x-left {
  justify-content: flex-start;
}

lit-horizontal.-lit-x-center,
.-lit-horizontal.-lit-x-center {
  justify-content: center;
}

lit-horizontal.-lit-x-right,
.-lit-horizontal.-lit-x-right {
  justify-content: flex-end;
}

lit-horizontal.-lit-y-top,
.-lit-horizontal.-lit-y-top {
  align-items: flex-start;
}

lit-horizontal.-lit-y-center,
.-lit-horizontal.-lit-y-center {
  align-items: center;
}

lit-horizontal.-lit-y-bottom,
.-lit-horizontal.-lit-y-bottom {
  align-items: flex-end;
}

lit-horizontal.-lit-y-baseline,
.-lit-horizontal.-lit-y-baseline {
  align-items: baseline;
}

lit-horizontal .-offset-top, lit-horizontal .-offset-center, lit-horizontal
.-lit-horizontal .-offset-center,
.-lit-horizontal lit-horizontal .-offset-center, lit-horizontal .-offset-bottom, lit-horizontal
.-lit-horizontal .-offset-bottom,
.-lit-horizontal lit-horizontal .-offset-bottom, lit-horizontal .-offset-baseline, lit-horizontal
.-lit-horizontal .-offset-baseline,
.-lit-horizontal lit-horizontal .-offset-baseline, lit-horizontal .-offset-stretch, lit-horizontal
.-lit-horizontal .-offset-stretch,
.-lit-horizontal lit-horizontal .-offset-stretch, lit-horizontal
.-lit-vertical .-offset-center,
.-lit-vertical lit-horizontal .-offset-center, lit-horizontal lit-vertical .-offset-right, lit-vertical lit-horizontal .-offset-right, lit-horizontal lit-example .-offset-right, lit-example lit-horizontal .-offset-right, lit-horizontal lit-vertical lit-example lit-example-btn, lit-vertical lit-example lit-horizontal lit-example-btn, lit-horizontal lit-example lit-vertical lit-example-btn, lit-example lit-vertical lit-horizontal lit-example-btn, lit-horizontal lit-example lit-example-btn, lit-example lit-horizontal lit-example-btn, lit-horizontal
.-lit-vertical .-offset-right,
.-lit-vertical lit-horizontal .-offset-right, lit-horizontal
.-lit-vertical lit-example lit-example-btn,
.-lit-vertical lit-example lit-horizontal lit-example-btn, lit-horizontal lit-example
.-lit-vertical lit-example-btn, lit-example
.-lit-vertical lit-horizontal lit-example-btn, lit-horizontal
.-lit-vertical .-offset-stretch,
.-lit-vertical lit-horizontal .-offset-stretch,
.-lit-horizontal .-offset-top, .-lit-horizontal .-offset-center, .-lit-horizontal .-offset-bottom, .-lit-horizontal .-offset-baseline, .-lit-horizontal .-offset-stretch,
.-lit-horizontal lit-vertical .-offset-right, lit-vertical
.-lit-horizontal .-offset-right,
.-lit-horizontal lit-example .-offset-right, lit-example
.-lit-horizontal .-offset-right,
.-lit-horizontal lit-vertical lit-example lit-example-btn, lit-vertical lit-example
.-lit-horizontal lit-example-btn,
.-lit-horizontal lit-example lit-vertical lit-example-btn, lit-example lit-vertical
.-lit-horizontal lit-example-btn,
.-lit-horizontal lit-example lit-example-btn, lit-example
.-lit-horizontal lit-example-btn,
.-lit-horizontal
.-lit-vertical .-offset-right,
.-lit-vertical
.-lit-horizontal .-offset-right,
.-lit-horizontal
.-lit-vertical lit-example lit-example-btn,
.-lit-vertical lit-example
.-lit-horizontal lit-example-btn,
.-lit-horizontal lit-example
.-lit-vertical lit-example-btn, lit-example
.-lit-vertical
.-lit-horizontal lit-example-btn {
  align-self: flex-start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

lit-horizontal .-offset-center,
.-lit-horizontal .-offset-center {
  align-self: center;
}

lit-horizontal .-offset-bottom,
.-lit-horizontal .-offset-bottom {
  align-self: flex-end;
}

lit-horizontal .-offset-baseline,
.-lit-horizontal .-offset-baseline {
  align-self: baseline;
}

lit-horizontal .-offset-stretch,
.-lit-horizontal .-offset-stretch {
  height: auto !important;
  align-self: stretch;
}

lit-vertical, lit-example,
.-lit-vertical {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
}

lit-vertical.-lit-x-left, lit-example.-lit-x-left,
.-lit-vertical.-lit-x-left {
  align-items: flex-start;
}

lit-vertical.-lit-x-center, lit-example.-lit-x-center,
.-lit-vertical.-lit-x-center {
  align-items: center;
}

lit-vertical.-lit-x-right, lit-example.-lit-x-right,
.-lit-vertical.-lit-x-right {
  align-items: flex-end;
}

lit-vertical.-lit-y-top, lit-example.-lit-y-top,
.-lit-vertical.-lit-y-top {
  justify-content: flex-start;
}

lit-vertical.-lit-y-center, lit-example.-lit-y-center,
.-lit-vertical.-lit-y-center {
  justify-content: center;
}

lit-vertical.-lit-y-bottom, lit-example.-lit-y-bottom,
.-lit-vertical.-lit-y-bottom {
  justify-content: flex-end;
}

lit-vertical .-offset-left, lit-example .-offset-left,
.-lit-vertical .-offset-left {
  align-self: flex-start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

lit-vertical .-offset-center, lit-example .-offset-center,
.-lit-vertical .-offset-center {
  align-self: center;
}

lit-vertical .-offset-right, lit-example .-offset-right, lit-vertical lit-example lit-example-btn, lit-example lit-vertical lit-example-btn, lit-example lit-example-btn,
.-lit-vertical .-offset-right,
.-lit-vertical lit-example lit-example-btn, lit-example
.-lit-vertical lit-example-btn {
  align-self: flex-end;
}

lit-vertical .-offset-stretch, lit-example .-offset-stretch,
.-lit-vertical .-offset-stretch {
  height: auto !important;
  align-self: stretch;
}

lit-header,
header.-lit-header,
header.-lit {
  align-items: baseline;
  background: #ffffff;
  padding: .5rem 1rem;
}

lit-header lit-title,
lit-header .-lit-title,
header.-lit-header lit-title,
header.-lit-header .-lit-title,
header.-lit lit-title,
header.-lit .-lit-title {
  font-size: 1.5em;
  font-family: "Noto Serif SC", Georgia, serif;
  margin: 0 1rem;
}

lit-side,
.-lit-side {
  display: block;
  width: 30vw;
  height: calc(100vh - 64px);
  background: #cdc4a6;
  transition: .5s;
}

lit-a, lit-example lit-example-btn,
a.-lit-a,
lit-ul li.-lit a,
ul.-lit-ul li.-lit a,
ul.-lit li.-lit a,
lit-typo a,
.-lit-typo a,
lit-doc a,
.-lit-doc a,
a.-lit {
  color: #795548;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

lit-a:hover, lit-example lit-example-btn:hover,
a.-lit-a:hover,
lit-ul li.-lit a:hover,
ul.-lit-ul li.-lit a:hover,
ul.-lit li.-lit a:hover,
lit-typo a:hover,
.-lit-typo a:hover,
lit-doc a:hover,
.-lit-doc a:hover,
a.-lit:hover {
  text-decoration: underline;
}

lit-btn,
a.-lit-btn,
input[type=button].-lit-btn,
button.-lit-btn,
input[type=button].-lit,
button.-lit {
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
  background: #efefef;
  padding: .5em 1em;
  border: none;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .2s;
}

lit-btn:hover,
a.-lit-btn:hover,
input[type=button].-lit-btn:hover,
button.-lit-btn:hover,
input[type=button].-lit:hover,
button.-lit:hover {
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

lit-btn:active,
a.-lit-btn:active,
input[type=button].-lit-btn:active,
button.-lit-btn:active,
input[type=button].-lit:active,
button.-lit:active {
  box-shadow: none;
}

lit-btn.-lit-icon,
a.-lit-btn.-lit-icon,
input[type=button].-lit-btn.-lit-icon,
button.-lit-btn.-lit-icon,
input[type=button].-lit.-lit-icon,
button.-lit.-lit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: transparent;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
}

lit-btn.-lit-icon:hover,
a.-lit-btn.-lit-icon:hover,
input[type=button].-lit-btn.-lit-icon:hover,
button.-lit-btn.-lit-icon:hover,
input[type=button].-lit.-lit-icon:hover,
button.-lit.-lit-icon:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

lit-btn.-lit-icon:active,
a.-lit-btn.-lit-icon:active,
input[type=button].-lit-btn.-lit-icon:active,
button.-lit-btn.-lit-icon:active,
input[type=button].-lit.-lit-icon:active,
button.-lit.-lit-icon:active {
  box-shadow: none;
}

lit-input, textarea.-lit-textarea,
textarea.-lit, lit-textarea,
input[type=text].-lit-input,
input[type=text].-lit {
  font-size: inherit;
  font-family: "Noto Serif SC", Georgia, serif;
  padding: 0.5em 1em;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: 0.3s;
}

lit-input:hover, textarea.-lit-textarea:hover,
textarea.-lit:hover, lit-textarea:hover,
input[type=text].-lit-input:hover,
input[type=text].-lit:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

lit-input:focus, textarea.-lit-textarea:focus,
textarea.-lit:focus, lit-textarea:focus,
input[type=text].-lit-input:focus,
input[type=text].-lit:focus {
  outline: 2px solid #795548;
}

textarea.-lit-textarea,
textarea.-lit {
  width: calc(100% - 2rem);
  min-height: 3em;
  text-align: justify;
  padding: 1rem;
  overflow-y: hidden;
  resize: none;
}

lit-textarea {
  display: block;
  padding: 1rem;
  min-height: 3em;
  -webkit-user-modify: read-write-plaintext-only;
}

lit-ul,
ul.-lit-ul,
ul.-lit {
  display: flex;
  flex-direction: column;
  padding: 0;
}

lit-ul li.-lit,
ul.-lit-ul li.-lit,
ul.-lit li.-lit {
  list-style: none;
  padding: 0.5em 1em;
}

lit-ul li.-lit:hover,
ul.-lit-ul li.-lit:hover,
ul.-lit li.-lit:hover {
  background: rgba(0, 0, 0, 0.04);
}

lit-tab,
.-lit-tab {
  display: flex;
  display: flex;
}

lit-tab .-lit-label,
.-lit-tab .-lit-label {
  color: rgba(0, 0, 0, 0.64);
  flex-grow: 1;
  padding: 1em 2em;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 425px) {
  lit-tab .-lit-label,
  .-lit-tab .-lit-label {
    flex-grow: 0;
  }
}

lit-tab .-lit-label.-lit-active, lit-tab lit-nav a.-lit-label:hover, lit-nav lit-tab a.-lit-label:hover, lit-tab
.-lit-nav a.-lit-label:hover,
.-lit-nav lit-tab a.-lit-label:hover,
.-lit-tab .-lit-label.-lit-active,
.-lit-tab lit-nav a.-lit-label:hover, lit-nav
.-lit-tab a.-lit-label:hover,
.-lit-tab
.-lit-nav a.-lit-label:hover,
.-lit-nav
.-lit-tab a.-lit-label:hover {
  color: #ffffff;
}

lit-nav,
.-lit-nav {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin: 0 1rem;
}

lit-nav a,
.-lit-nav a {
  color: inherit;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.3s;
}

lit-nav a.-lit-active, lit-nav a:hover, lit-nav
.-lit-nav a:hover,
.-lit-nav lit-nav a:hover,
.-lit-nav a.-lit-active, .-lit-nav a:hover {
  color: #795548;
}

lit-divider, lit-typo hr,
.-lit-typo hr, lit-doc hr,
.-lit-doc hr,
.-lit-divider {
  display: block;
  width: calc(100% - 2rem);
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
  margin: 1em 0.5em;
}

lit-typo,
.-lit-typo,
lit-doc,
.-lit-doc {
  display: block;
}

lit-typo h1, lit-typo h2, lit-typo
.-lit-typo h2,
.-lit-typo lit-typo h2, lit-typo lit-doc h2, lit-doc lit-typo h2, lit-typo
.-lit-doc h2,
.-lit-doc lit-typo h2, lit-typo h3, lit-typo
.-lit-typo h3,
.-lit-typo lit-typo h3, lit-typo lit-doc h3, lit-doc lit-typo h3, lit-typo
.-lit-doc h3,
.-lit-doc lit-typo h3, lit-typo h4, lit-typo
.-lit-typo h4,
.-lit-typo lit-typo h4, lit-typo lit-doc h4, lit-doc lit-typo h4, lit-typo
.-lit-doc h4,
.-lit-doc lit-typo h4, lit-typo h5, lit-typo
.-lit-typo h5,
.-lit-typo lit-typo h5, lit-typo lit-doc h5, lit-doc lit-typo h5, lit-typo
.-lit-doc h5,
.-lit-doc lit-typo h5, lit-typo h6, lit-typo
.-lit-typo h6,
.-lit-typo lit-typo h6, lit-typo lit-doc h6, lit-doc lit-typo h6, lit-typo
.-lit-doc h6,
.-lit-doc lit-typo h6,
.-lit-typo h1, lit-doc h1,
.-lit-doc h1, .-lit-typo h2, lit-doc h2, .-lit-doc h2, .-lit-typo h3, lit-doc h3, .-lit-doc h3, .-lit-typo h4, lit-doc h4, .-lit-doc h4, .-lit-typo h5, lit-doc h5, .-lit-doc h5, .-lit-typo h6, lit-doc h6, .-lit-doc h6 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 0 1em;
}

lit-typo h2,
.-lit-typo h2, lit-doc h2,
.-lit-doc h2 {
  font-size: 1.4em;
}

lit-typo h3,
.-lit-typo h3, lit-doc h3,
.-lit-doc h3 {
  font-size: 1.3em;
}

lit-typo h4,
.-lit-typo h4, lit-doc h4,
.-lit-doc h4 {
  font-size: 1.2em;
}

lit-typo h5,
.-lit-typo h5, lit-doc h5,
.-lit-doc h5 {
  font-size: 1.1em;
}

lit-typo h6,
.-lit-typo h6, lit-doc h6,
.-lit-doc h6 {
  font-size: 1em;
}

lit-typo p,
.-lit-typo p, lit-doc p,
.-lit-doc p {
  line-height: 1.5em;
  text-align: justify;
  margin: 1em 0;
}

lit-typo p:first-child,
.-lit-typo p:first-child, lit-doc p:first-child,
.-lit-doc p:first-child {
  margin-top: 0;
}

lit-typo p:last-child,
.-lit-typo p:last-child, lit-doc p:last-child,
.-lit-doc p:last-child {
  margin-bottom: 0;
}

lit-typo b,
lit-typo strong,
.-lit-typo b, lit-doc b,
.-lit-doc b,
.-lit-typo strong, lit-doc strong,
.-lit-doc strong {
  font-weight: bold;
}

lit-typo kbd,
.-lit-typo kbd, lit-doc kbd,
.-lit-doc kbd {
  color: #ffffff;
  background: #1d1d1d;
  font-size: .8rem;
  padding: .125em .25em;
  border-radius: 2px;
}

lit-typo code, lit-typo pre code, lit-typo
.-lit-typo pre code,
.-lit-typo pre lit-typo code, lit-typo lit-doc pre code, lit-doc pre lit-typo code, lit-typo
.-lit-doc pre code,
.-lit-doc pre lit-typo code,
.-lit-typo code, lit-doc code,
.-lit-doc code, lit-typo pre lit-doc code, .-lit-typo pre code, lit-doc pre
.-lit-typo code, lit-doc pre code, lit-doc pre
.-lit-doc code, .-lit-doc pre code {
  color: #f44336;
  background: rgba(0, 0, 0, 0.04);
  font-family: Consolas, monospace;
  padding: 0 .4em;
  border-radius: 2px;
}

lit-typo pre code, lit-typo
.-lit-typo pre code,
.-lit-typo lit-typo pre code, lit-typo lit-doc pre code, lit-doc lit-typo pre code, lit-typo
.-lit-doc pre code,
.-lit-doc lit-typo pre code, lit-doc pre code, .-lit-typo pre code, lit-doc pre code, .-lit-doc pre code {
  color: #1d1d1d;
  background: none;
  padding: 0;
}

lit-typo hr,
.-lit-typo hr, lit-doc hr,
.-lit-doc hr {
  border: 0;
}

lit-typo blockquote,
.-lit-typo blockquote, lit-doc blockquote,
.-lit-doc blockquote {
  font-size: .9rem;
  font-family: "Noto Serif SC", Georgia, serif;
  margin: 1rem 0;
  padding-left: calc(2rem - 6px);
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 6px solid #cbcbcb;
  background: #f2f2f2;
}

lit-typo ul,
lit-typo ol,
.-lit-typo ul, lit-doc ul,
.-lit-doc ul,
.-lit-typo ol, lit-doc ol,
.-lit-doc ol {
  padding-left: 2em;
  margin: 1rem 0;
}

lit-typo img,
.-lit-typo img, lit-doc img,
.-lit-doc img {
  max-width: 100%;
  margin: 0 auto;
}

lit-doc,
.-lit-doc {
  max-width: 40em;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  transition: 0.5s;
}

@media screen and (min-width: 425px) {
  lit-doc,
  .-lit-doc {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  lit-doc,
  .-lit-doc {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}

lit-example {
  margin: 0 0 2rem;
}

lit-example lit-example-label {
  display: inline-block;
  position: absolute;
  font-size: .8em;
  color: rgba(0, 0, 0, 0.48);
  font-weight: bold;
}

lit-example lit-example-btn {
  display: block;
  font-family: Consolas, monospace;
  margin-bottom: .5em;
  transition: 0.3s;
}

lit-example lit-example-btn:hover {
  text-decoration: none;
}

lit-example lit-demo {
  display: block;
  width: 100%;
  border: 1px solid #ffffff;
  transition: 0.5s;
}

lit-example lit-demo.-lit-showcode {
  width: calc(100% - 2em - 2px);
  padding: 1em;
  border: 1px solid #f2f2f2;
  border-bottom: 0;
}

lit-example pre {
  height: 0;
  width: calc(100% - 2em - 2px);
  padding: 0;
  margin: 0;
  border: 1px solid #f2f2f2;
  opacity: 0;
  transition: padding-top 0.5s, padding-bottom 0.5s;
}

lit-example pre.-lit-showcode {
  height: auto;
  padding: 1rem;
  opacity: 1;
}

lit-example pre code, lit-example
.-lit-typo pre code,
.-lit-typo lit-example pre code, lit-example lit-doc pre code, lit-doc lit-example pre code, lit-example
.-lit-doc pre code,
.-lit-doc lit-example pre code {
  line-height: 2em;
}
