<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}

<body class="-lit">
  {% include header.html %}

  <main>
    <lit-row>
      <lit-col class="center">
        <lit-doc>
          <h1>{{ page.title }}</h1>
          <info>
            <img src="https://iph.href.lu/24x24?fg=666666&bg=f9cb9c">
            <author class="lit-author">{{ site.author }}</author>
            <span class="lit-date">{{ page.date | date_to_xmlschema }}</span>
          </info>
          {{ content }}
        </lit-doc>
      </lit-col>
    </lit-row>

    <lit-row>
      <lit-col class="center">
        {% include gitalk.html %}
      </lit-col>
    </lit-row>
  </main>
</body>

</html>