<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}

<body class="-lit">
  {% include header.html %}

  <main>
    <lit-row>
      <lit-col class="center">
        <lit-doc>
          <h1>{{ page.title }}</h1>
          {{ content }}
          <p>{{ page.date | date_to_xmlschema }}</p>
          <p>{{ page.url }}</p>
        </lit-doc>
      </lit-col>
    </lit-row>

    <lit-row>
      <lit-col class="center">
        {% include gitalk.html %}
      </lit-col>
    </lit-row>
  </main>
</body>

</html>